*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.container{
    display:flex;
    flex-direction: column;
    
}

.title{
    
    text-align: center;
}
.container2{
    display:flex;
    margin:1rem 10rem;
    justify-content: space-between;
    min-width:max-content ;
    
}

.container3{
    display:flex;
    justify-content: center;
    border: 1px solid rgb(245, 33, 125) ;
    background-color:rgb(245, 33, 125) ;
    color:white;
    margin:2rem 10rem;
    min-width: max-content;
    border-radius: 5px;
    
}
    i{
        margin-right: 5px;
    }
h2{
    font-weight: 100;
}
.pink{
    color:rgb(245, 33, 125) ;
}
h1{
     /* width: 100%;  */
     
    text-align: center; 
    border-bottom: 1px solid grey; 
    line-height: 0.1em;
    margin: 2rem 0 4rem; 
   color:rgb(245, 33, 125) ;
   margin: 2rem 10rem 2rem 10rem;
    
}

h1 span { 
    background:#fff; 
    padding:0 10px; 
}

.box{
    margin:0rem 10rem;
    margin-bottom: 2rem;
     border:1px solid gray;
     padding:2rem;
     display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-areas: "radio-btn heading cost"
                          "radio-btn description cost";
     grid-template-rows: 1fr, 1fr, 1fr;                                        ;
    justify-content: center; 
    min-width: fit-content;

     /* align-items: center;  */

}

 h2{
    font-weight: bold;
}

.popular{
    border:1px solid rgb(245, 33, 125) ;
    background-color:rgb(245, 33, 125)  ;
    width:fit-content;
    position:relative;
left:60%;
    /* float:right; */
    color:white;
    padding:2px 15px;
    font-size: small;
    box-sizing: border-box;
    
    top:15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
   
}

.radio-btn{
    grid-area: radio-btn;
    font-weight: large;
    margin-top: 20%;
    
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    transform: scale(1.5); /* Increase size */

  }
  


.heading{
    grid-area: heading;
}
.cost {
    grid-area: cost;
    font-weight: bold;
}

.discount{
    background-color:rgb(245, 33, 125) ;
    color:white;
    width: fit-content;
    font-size: large;
    padding:9px;
    border-radius: 3px;
}

.previous-price{
    color:grey;
    text-decoration: line-through;
}

.radio-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .radio-btn input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
  } 



   .radio-btn span {
    width: 16px;
    height: 16px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    
  }

  .radio-btn input:checked + span {
    background-color:rgb(245, 33, 125) ;
  }

.powered{
    color:gray;
    display: flex;
    margin-right: 10rem;
    justify-content: end;
}
.description{
    
    grid-area: description;
    display: none;
    align-items: center;
    justify-content: center;
}
.description .container{
    display:grid;
    grid-template-columns: auto auto;
}
select{
    border:solid 1px black;
    width:4rem;
    margin:5px;
}
.box.active {
    border-color:rgb(245, 33, 125) ; /* Highlight the active box */
    background-color: #fce4ef; /* Optional: Change the background color */
}

@media (max-width: 768px) {
    .container {
      width:fit-content;
    }
*{
    font-size: small;
}
    .discount{
        font-size: small;
        padding:1px;
    }
    .title{
       font-size: large;     
    }
    
    
    .container2 .pink{
        padding-right: 4rem;
    }
    .popular{
        font-size: small;
       position:relative;
       left:60%;
       top:8px;
       padding:1px;
    }
    .box{
        
    padding:3px;
        display: grid;
       grid-template-columns: 1fr 5fr 2fr;
       
       justify-content: center;
       width: 18em;
       align-items: center; 
    
    }
    .body{
        width:90%;
        display: flex;
        justify-content: center;
    }
  }